.tag {
  font-family: Roboto, sans-serif;
  font-size: 0.7rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  line-height: 0.9rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px;
  text-align: right;
}

/* Theme */
.default {
  color: var(--black);
}

.politics {
  color: var(--politics);
}

.business {
  color: var(--business);
}

.tech {
  color: var(--tech);
}

.science {
  color: var(--science);
}

.sports {
  color: var(--sports);
}
