.button {
  background: var(--white-50);
  border: 0.1rem solid var(--dark-blue);
  color: var(--dark-blue);
  padding: 0.5rem 1rem;
  justify-self: end;
}

/* Size */
.medium {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.2rem;
}

.large {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.2rem;

  @media (--md-viewport) {
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
}
