.title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  color: var(--black);
}

/* Size */
.medium {
  font-size: 1.21rem;
  line-height: 1.5rem;
}

.large {
  font-size: 1.21rem;
  line-height: 1.5rem;

  @media (--md-viewport) {
    font-size: 2.07rem;
    line-height: 2.5rem;
  }
}
