.default {
  display: grid;
  grid-template:
    "header header    header    header" 56px
    ".      .         .         .     " 55px
    ".      featured  featured  .     " auto
    ".      .         .         .     " 60px
    ".      headlines headlines .     " auto
    ".      .         .         .     " 60px
    ".      defaults  defaults  .     " auto
    ".      .         .         .     " 60px
    / 5% auto auto 5%;

  @media (--md-viewport) {
    grid-template:
      "header header    header    header" 56px
      ".      .         .         .     " 55px
      ".      featured  featured  .     " auto
      ".      .         .         .     " 60px
      ".      headlines headlines .     " auto
      ".      .         .         .     " 60px
      ".      defaults  defaults  .     " auto
      ".      .         .         .     " 60px
      / 5% auto auto 5%;
  }

  @media (--xl-viewport) {
    grid-template:
      "header  header   header   header    header    header    header" 56px
      ".       .        .        .         .         .         .     " 76px
      ".       featured .        headlines headlines headlines .     " auto
      ".       .        .        .         .         .         .     " 26px
      ".       divider  divider  divider   divider   divider   .     " 1px
      ".       .        .        .         .         .         .     " 26px
      ".       defaults defaults defaults  defaults  defaults  .     " auto
      ".       .        .        .         .         .         .     " 26px
      / 9.4% 39.6% 2.1% 18.7% 2.1% 18.7% 9.4%;
  }
}

.headlines {
  grid-area: headlines;
  display: grid;
  grid-column-gap: 3.8%;
  grid-row-gap: 60px;
  grid-template:
    "headline " auto
    "headline2" auto
    / 1fr;

  @media (--md-viewport) {
    grid-template:
      "headline headline2" auto
      / 1fr 1fr;
  }
}

.defaults {
  grid-area: defaults;
  display: grid;
  grid-column-gap: 3.8%;
  grid-row-gap: 60px;
  grid-template:
    "defaults1" auto
    "defaults2" auto
    "defaults3" auto
    / 1fr;

  @media (--md-viewport) {
    grid-template:
      "defaults1 defaults2" auto
      "defaults3 .        " auto
      / 1fr 1fr;
  }

  @media (--xl-viewport) {
    grid-column-gap: 2.1%;
    grid-template:
      "defaults1 defaults2 defaults3" auto
      / 1fr 1fr 1fr;
  }
}

.navbar {
  grid-area: header;
}

.featured {
  grid-area: featured;
}

.headlines:nth-child(1) {
  grid-area: headline;
}

.headlines:nth-child(2) {
  grid-area: headline2;
}

.divider {
  grid-area: divider;
}

.defaults:nth-child(1) {
  grid-area: defaults1;
}

.defaults:nth-child(2) {
  grid-area: defaults2;
}

.defaults:nth-child(3) {
  grid-area: defaults3;
}
