.nav-bar {
  height: 100%;
  box-shadow: 0 1px 5px var(--dark-blue-50);
  display: grid;
  align-items: center;
  grid-template:
    ".  navbutton logo logo logo" 56px
    ".  navitems  navitems navitems ." auto
    / 6.5% 24px 1fr 45px 1fr;

  @media (--lg-viewport) {
    height: 100%;
    grid-template:
      ". logo . navitems ." 56px
      / 9.4% auto auto auto 9.4%;
  }
}

.logo {
  grid-area: logo;
  justify-self: center;

  @media (--lg-viewport) {
    justify-self: start;
  }
}

.navitems {
  display: flex;
  grid-area: navitems;
  flex-direction: column;
  justify-content: space-between;

  @media (--lg-viewport) {
    flex-direction: row;
  }
}

.button {
  grid-area: navbutton;
}
