:root {
  /*
   * Colors
   */
  --politics: orange;
  --business: blue;
  --tech: purple;
  --science: red;
  --sports: green;
  --black: #000;
  --white: #fff;
  --white-50: #ffffff80;
  --dark-blue: #1b262c;
  --dark-blue-50: #1b262c80;
  --medium-blue: #0f4c75;
  --medium-blue-50: #0f4c7580;
  --soft-blue: #3282b8;
  --soft-blue-50: #3282b880;
  --light-blue: #bbe1fa;
  --light-blue-50: #bbe1fa80;
  --info: var(--soft-blue);
  --error: #c11729;
  --warning: #fccf00;

  /*
   * Fonts
   */
  --base-font-family: sans-serif;
  --headers-font-family: serif;
  --base-font-lineheight: 1.5em;
}
