.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.news-hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--soft-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  height: 100%;
  transition: all 0.5s;
}

.container:hover .news-hero-image {
  transform: scale(1.015);
}
