.news-hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--grey-3);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Size */
.medium {
  width: 18.71rem;
  height: 11.93rem;
}

.large {
  width: 39.64rem;
  height: 25.29rem;
}
