.article-news {
  animation: fadeIn 1s linear;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.article-news > *:nth-child(n) {
  margin-bottom: 20px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image {
  height: 30vh;
}

.title {
  text-align: center;
}
