.author-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--soft-blue);
  border-radius: 50%;
}

/* Size */
.medium {
  width: 32px;
  height: 32px;
}

.large {
  width: 45px;
  height: 45px;
}
